<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="jp.co.yumemi.android.codecheck.SingleFragmentActivity"
            android:exported="true" />
    </application>

</manifest>
